<!doctype html>
<html lang="{{- .Site.Language.Lang -}}">

<head>
    <meta charset="utf-8">
    {{ partial "responsive.html" . }}
    {{ partial "bootstrap-css.html" . }}
    {{ partial "local-css.html" . }}
    {{ partial "icons.html" . }}

    <meta name="description" content="{{- .Description -}}">
    <title>{{- .Title -}}</title>
</head>

<body>
    {{ partial "navbar.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
    {{ partial "bootstrap-js.html" . }}
</body>

</html>