{{ define "main" }}
<div class="container">
    <header>
        <h1>{{.Title}}</h1>
    </header>
    {{.Content}}

    <ul class="list-unstyled">
        {{ range .Pages }}
        <li class="media">
            <img class="mr-3" src="/img/{{ .Params.Featured_image }}" alt="{{ .Title }}">
            <div class="media-body">
                <h5 class="mt-0 mb-1">{{ .Title }}</h5>
                {{.Content}}
            </div>
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}