{{ define "main" }}
<div class="container text-center">
    <img src="/img/{{ .Params.Featured_image }}" class="img-fluid" alt="{{ .Title }}">
</div>

<div class="container">
    {{ .Content }}
</div>
{{ end }}